/* src/styles/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* App.css or your preferred CSS file */
